.managements-div{
   
    border-radius: 30px;
    padding-bottom: 10px;
    text-align: center;
    width: 80%;
    height: 30%;
   
    
}


.managements-div img{
    width: 60%;
    margin-top: 25px;
}


.managements-section{
    border-bottom: 5px solid rgb(154, 22, 158);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 20px;
    
}

.managements-div p{
    width: 100%;
    text-align: start;
    margin: 5px auto;
    
    
   
}

.managements-div h5{
    width: 70;
    text-align: center;
    margin: 12px auto;
   padding-bottom: 10px;
   color: blueviolet;
}