.InventoryItem{
   
    border-radius: 30px;
    padding-bottom: 10px;
    text-align: center;
    width: 90% ;
    box-shadow: 10px 10px 15px lightblue;
    padding: 10%;
    
    
   
    
}

.InventoryItem p{
    width: 90% ;
    text-align: center;
    margin: 10px auto;
   padding-bottom: 10px;}
.InventoryItem h3{
    width: 90% ;
    text-align: center;
    margin: 10px auto;
}
.InventoryItem h5{
    width: 90% ;
    text-align: center;
    margin: 10px auto;
}
.InventoryItem h6{
    width: 90% ;
    text-align: center;
    margin: 10px auto;
}