
.heading{
    color: rgb(71, 9, 129);
}

.managements-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap : 10px;
    /* background: #eefcfb; */
    border-radius: 2%;
    padding: 1%;
    
    
}
